<% content_for :meta do %>
	<% meta :keywords => %w(bazar ropa vintage bananarepublic concurso) %>
	<% meta [:property => "og:image", :content => "https://launchrock-assets.s3.amazonaws.com/facebook-files/OXSIA5IM_1363750986914.jpg?_=0"] %>
	<% meta [:property => "og:description", :content => "Besame Mucho Clothes - Gana este saco Banana Republic"] %>
	<% meta [:property => "og:type", :content => "website"] %>
	<% meta [:property => "og:title", :content => " Besame Mucho Clothes - Gana este saco Banana Republic"] %>
	<% meta [:property => "og:url", :content => "http://besamemucho.herokuapp.com"] %>
<% end %>

<!-- Begin LaunchRock Widget -->
<div id="lr-widget" rel="OXSIA5IM"></div>
<script type="text/javascript" src="//ignition.launchrock.com/ignition-current.min.js"></script>

<!-- End LaunchRock Widget -->