<div class="row">
	<div class="span12">
		<div style="float:left">
			<%= link_to "Regístrate a nuestro boletín", registro_path, class: "title-register" %>
		</div>
		<div class="title-register" style="margin-left:65%">
			<%= link_to "Siguenos en Facebook", "https://www.facebook.com/besamemuchoclothes", class: "title-register", target: "_blank" %>
			<%= link_to image_tag('https://www.facebook.com/images/fb_icon_325x325.png', style: "width:30px"), 
				"https://www.facebook.com/besamemuchoclothes", class: "title-register", 
				target: "_blank" %>
		</div>
	</div>
</div>
<div style="width:1000px; height:1300px; margin:10px auto;">
<iframe src="http://www.kichink.com/stores/besame-mucho-clothes" width="1000" height="1300" frameborder="0" scrolling="auto" ><a href="http://www.kichink.com/stores/besame-mucho-clothes" target="_blank">Tu navegador no soporta la tecnolog&iacute;a necesaria para ver esta p&aacute;gina. Por favor ingresa directamente con esta liga</a></iframe>
</div>
